.dash-nav {
  z-index: 1;
  background-color: #1b1b1d;
  margin: auto;
  width: 70%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}


.dash-nav-content {
  display: flex;
  justify-content: space-between;
  margin: auto;
}


.dash-nav img {
  width: 120px;
  height: 120px;
}


.nav-links {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 13.1px;
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
  font-weight: 900;
  align-items: center;
}

#dash-icon {
  left: 150px;
}

#currentuser {
  margin-right: 25px;
}


.nav-links a:hover {
  color: #1ae9aa;
  background-color: transparent;
}

a:link {
  text-decoration: none;
}
