.holdings {
  display: flex;
}
.holdings:hover {
  background-color: #0d0d0d;
}

.holdings-title-header {
  display: flex;
  border-bottom: 2px solid black;
}

.holdings-asset {
  padding: 20px 12px 20px 10px;
  width: 175px;
  font-size: 13px;
  margin-left: 45px;
}

.holdings-title {
  padding: 20px 12px 20px 10px;
  width: 200px;
  font-size: 15.5px;
  margin-left: 45px;
  color: #f45531;
}

.portfolio-chart {
  display: block;
  width: 70%;
  color:white;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0.2px 0.2px 15px 0.7px black;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.portfolio-chart:hover {
  box-shadow: 0.2px 0.2px 15px 0.7px #f45531;
  transition: all 0.5s linear;
}

.piechart-container {
  margin-top: 50px;
}
.piechart-container p{
  color: white;
  text-align: center;
}

.piecharts {
  display:flex;
  margin: auto;
  justify-content: center;
}

body {
  margin: 0;
}

.total-assets {
  font-size: 38px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color: #f45531;
  margin: auto;
  margin-left: 165px;
}
 #portfolio-total{
    color:white;
 }

 .portfolio {
   margin-top: 130px;
 }

 @media (max-width: 1280px) {
   .port-watch-flex {
     position: absolute;
     right: 165px;
     margin-left: 0px;
   }

   ul.watchlist {
     right: 30px;
   }
 }

 @media(max-width:1441px) and (min-width:1281px){
   .port-watch-flex{
     margin-left: 0px;
   }

   ul.watchlist{
     right: 77px
   }
   
 }

 @media(min-widt)