.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search-bar {
  background-color: #1b1b1d;
  color: white;
  padding-left: 10px;
  width: 450px;
  height: 40px;
  border: 0.6px solid black;
  border-radius: 5px;
}

#search-bar:hover {
  -webkit-box-shadow: 1.5px 1.5px 7px 2px black;
  transition: all 0.25s linear;
}


input::-webkit-input-placeholder {
    color: gray;
    font-size: 12px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}
input:hover::-webkit-input-placeholder {
    color: white;
    font-size: 14px;
    transition: all 0.25s linear;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

#search-result {
  display:flex;
  flex-direction: column;
  background-color: #1b1b1d;
  position: fixed;
  z-index: 1;
  top: 79px;
  width: 459px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}



#search-result li {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 13.5px;
  padding: 10px 10px;
  vertical-align: middle;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

#search-result li:hover {
  background-color: black;
  color: #1ae9aa;
}
