.searchbar-container {
  display: flex;
  flex-direction: row;
  width: 10px;
}

.searchbar {
  display: block;
  background-color: #1b1b1d;
  color: white;
  padding-left: 10px;
  width: 300px;
  height: 28px;
  border: 1px solid black;
}

.searchbar:hover {
  -webkit-box-shadow: 1px 0.5px 2px 3px #ccc;
  transition: all 0.25s linear;
}


input::-webkit-input-placeholder {
    color: gray;
    font-size: 12px;
}
input:hover::-webkit-input-placeholder {
    color: white;
    font-size: 12px;
    transition: all 0.25s linear;
}

.search-result {
  display:flex;
  flex-direction: column;
  background-color: #1b1b1d;
  z-index: 1;
  position: absolute;
  right: 594px;
  top: 60px;
  width: 312px;
}


.search-result li {
  display: block;
  color: white;
  font-size: 12px;
  padding: 10px 10px;
  vertical-align: middle;
}

.search-list:last-child {
  padding-bottom: 10px;
}

.search-result li:hover {
  background-color: black;
}
