.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search-bar {
  background-color: #1b1b1d;
  color: white;
  padding-left: 10px;
  width: 450px;
  height: 28px;
  border: 0.6px solid white;
}

#search-bar:hover {
  -webkit-box-shadow: 0.5px 0.5px 3.5px 4px #ccc;
  transition: all 0.25s linear;
}


input::-webkit-input-placeholder {
    color: gray;
    font-size: 12px;
}
input:hover::-webkit-input-placeholder {
    color: white;
    font-size: 12px;
    transition: all 0.25s linear;
}

#search-result {
  display:flex;
  flex-direction: column;
  background-color: #1b1b1d;
  z-index: 1;
  top: 60px;
  width: 459px;
  margin-left: 100px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}



#search-result li {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 12px;
  padding: 10px 10px;
  vertical-align: middle;
}

#search-result li:hover {
  background-color: black;
  color: #1ae9aa;
}
