html {
  background-color: #1b1b1d;
}

body {
  background-color: #1b1b1d;
}


.dashboard {
  height: 100%;
  background-color: #1b1b1d;
  padding-bottom: 300px;
}

.watchlist {
  display:block;
  color: white;
  width: 15%;
  height: 650px;
  box-shadow: 0.2px 0.2px 15px 0.7px black;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  padding-top: 15px;
  position: fixed;
  right: 175px;
  top: 150px;
  min-width: 220px;
  overflow: auto;
}

.watchlist:hover {
  box-shadow: 0.2px 0.2px 15px 0.7px #f45531;
  transition: all 0.5s linear;
}

 .port-watch-flex {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   background-color: #1b1b1d;
 }

.empty-div {
  height: 150px;
}

.watchlist-item {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%
}

.watchlist-item:hover {
  background-color: #0d0d0d;
}

.watchlist-title {
  margin-left: 22px;
  font-size: 19px;
  margin-bottom: 10px;
}

.watchlist-item-detail {
  padding: 20px 12px 20px 10px;
  width: 35%;
  font-size: 15px;
}


.watchlist-item-detail-symbol {
  color: #f45531;
  padding: 20px 0px 20px 25px;
  width: 35%;
  font-size: 15px;
}
