.splash {
  padding-bottom: 150px;
  background-color: white;
}


@keyframes color-me-in {
  0% {
    background: black;
  }
  100% {
    background: white;
  }
}


.splash-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
  background-color: white;
}

.splash-nav-content {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 65%;
}

.splash-nav img {
  width: 120px;
  height: 120px;
}


.links {
  display: flex;
  justify-content: space-around;
  font-size: 13.1px;
  font-family: "DIN Web", "Hiragino Sans GB", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
  font-weight: 900;
}

.links li {
  color: #21ce99;
  padding: 30px;
}


.links a:hover {
  color: #1ae9aa;
  background-color: transparent;
}

a:link {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 330px;
  font-family: "DIN Pro", "DIN Web", sans-serif;
}

.container h1 {
  font-size: 52px;
  font-weight: 600;
  line-height: 59px;
  -webkit-animation: fadein 3s;
}

.container h4 {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  margin-top: 30px;
  letter-spacing: 0.3px;
  -webkit-animation: fadein 4s;
}

.container a {
  display: block;
  height: 20px;
  width: 60px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  background-color: #21ce99;
  color: white;
  font-weight: 900;
  font-size: 14px;
  padding: 14px 14px;
  margin: 0;
  margin-top: 30px;
  -webkit-animation: fadein 4.7s;
}

.container a:hover {
  background-color: #1ae9aa;
}

 .chart {
   display: block;
   margin-left: 50px;
 }

.container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-top: 345px;
  font-family: "DIN Pro", "DIN Web", sans-serif;
}

.dollabill {
  display: block;
  width: 400px;
  height: 200px;
}

.text2 {
  width: 55%;
  margin-left: 90px;
}

.text2 h3 {
  margin-left: 25px;
}
.container2 h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 59px;
}

.container2 h3 {
  font-size: 17px;
  font-weight: lighter;
  letter-spacing: 0.1px;
  margin-top: 30px;
  line-height: 25px;
}

.container3 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 350px;
  font-family: "DIN Pro", "DIN Web", sans-serif;
}

.container3 h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 59px;
}

.container3 h3 {
  font-size: 17px;
  font-weight: lighter;
  letter-spacing: 0.1px;
  margin-top: 30px;
  margin-left: 25px;
  line-height: 24px;
}

.text3 {
  width: 55%;
}

.footer {
  margin: auto;
  margin-top: 175px;
  border-top: 1.1px solid black;
  border-bottom: 1.1px solid black;
  width: 1000px;
}

.footer a img {
  display: block;
  margin: auto;
  height: 25px;
  width: auto;
}


.footer-container {
  display: flex;
  justify-content: space-around;
  width: 65%;
  margin: auto;
  padding: 75px 0;
}

@keyframes fadein {
  from {opacity: 0;}
  to   {opacity: 1;}
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
