
#root {
  width: 100%;
}

.show-asset {
  width: 100%;
  height: 100%;
  background-color: #1b1b1d;
  position: relative;
}

.asset-content {
  width: 70%;
  margin: auto;
  margin-left: 210px;;
  padding-top: 100px;
}

#name {
  margin: auto;
  margin-left: 210px;
  margin-top: 100px;
  color: #f45531;
  font-size: 36px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}


.chart-container {
  margin: auto;
  margin-left: 210px;
}

.buy-sell-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: 468px;
}

.custom-tooltip {
  color: white;
  line-height: 15px;
}


#percentage {
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
}

#price {
  padding-top: 15px;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
}

#date {
  position: absolute;
  top: 612px;
  left: 550px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  animation: fadein 3s;
}

.option-container {
  display: block;
  border-bottom: 1px solid white;
  max-height: 46px;
  width: 500px;
}

.chart-options {
  display: flex;
  margin: auto;
  margin-top: 15px;
  color: white;
  padding: 7px;
  padding-top: 5px;
  max-height: 30px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.chart-options li {
  padding-left: 10px;
  padding-right: 10px;
  max-height: 18px;
}

.chart-options button:hover {
  color: #1ae9aa;
  border-bottom: 3px solid #1ae9aa;
}

.title {
  color: #21ce99;
}

.asset-details1 {
  display: flex;
  flex-direction: row;
  margin-left: 187px;
  margin-top: 50px;
  color: white;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.asset-details1 li {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  width: 150px;
}

.asset-details2 {
  display: flex;
  flex-direction: row;
  margin-left: 187px;
  margin-top: 30px;
  color: white;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.asset-details2 li {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 150px;
  padding-left: 40px;
}

.selected {
  text-decoration: underline;
  color: #21ce99;
}

.buysell {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 370px;
  box-shadow: 0.5px 0.5px 15px 1px black;
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 15px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 14px;

}

.buy-sell-option {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 18px;
}

.shares {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: 35px;
  max-height: 25px;
}

.shares label {
  width: 80px;
}


#amount {
  background-color: black;
  padding-left: 20px;
  width: 32px;
  height: 25px;
  border-radius: 5px;
  margin-left: -115px;
}

#amount:focus {
  border: 1px solid #f45531;
}

.marketprice {
  color: white;
  display:flex;
  justify-content: space-around;
  margin-top: 25px;
  border-bottom: 3px solid black;
  padding-bottom: 30px;
}

.last-price {
  width: 90px;
}

.estimated {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: 20px;
}

#cost{
  width: 68px;
  overflow-x: hidden;
  color: #f45531;
  font-size: 14px;
}

.buysell-button {
  color: white;
  font-size: 18px;
}

.buysell-button-active {
  color: #f45531;
  font-size: 18px;
  box-shadow: 0.5px 0.5px 8px 0.7px #f45531;
}


.buysell-button:hover {
  color: #f45531;
  box-shadow: 0.5px 0.5px 5px 0.7px #f45531;
  transition: all .25s ease;
}

.submit-order {
  display: block;
  border-radius: 5px;
  background-color: #21ce99;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
  margin-top: 45px;
  color: white;
  font-size: 15px;
}

.submit-order:hover {
  background-color: #1ae9aa;
}

.buying-power {
  display: flex;
  color: white;
  justify-content: space-around;
  font-size: 13px;
  border-top: 1px solid black;
  padding-top: 10px;
}

.add-watchlist-item {
  display: block;
  color: #f45531;
  margin: auto;
  margin-top: 30px;
  border-radius: 4px;
}

.add-watchlist-item:hover {
  border-bottom: 3px solid #f45531;
}

.buy-sell-errors {
  color: red;
  font-size: 12px;
  margin: auto;
  margin-top: 8px;
  animation: fadein 4s;
}
.buy-sell-all {
  height: 471px;
}




@keyframes fadein {
  from {opacity: 0;}
  to   {opacity: 1;}
}


.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 122px auto;
  font-size: 16px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
